//- Precisa ter um slug definido um nível acima para usar este componente
include vars
include membros
if slug
  each membro in membros
    if membro.slug == slug
      - var avatar = membro.avatar
      unless membro.avatar
        if membro.masculino
          - avatar = "membro-masculino.jpg"
        else
          - avatar = "membro-feminino.jpg"
      h1= membro.nome
      .row
        .col.s12.l6.offset-l4
          img.z-depth-5.responsive-img.membro-imagem(src=imgPath+avatar)
        .col.s12
          .card
            .card-content
              span.orange-text.card-title.membro-titulo= membro.titulo
              .text-flow.membro-descricao= membro.descricao
        .col.s12
          .card
            .card-content
              span.card-title.
                Áreas de atuação
              ul.membro-areas-de-atuacao
                each area in membro.areas
                  li
                    i.fa.fa-check
                    span= area
      .divider
      br
      .center-align
        a.btn(href="membros.html")
          i.material-icons.left chevron_left
          | Voltar

