include vars
include utils
doctype html
html(lang=lang)
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet",href="https://fonts.googleapis.com/icon?family=Material+Icons")
    //- link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    //- link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    link(rel="stylesheet",href=cssPath+"fontawesome.min.css")
    link(rel="stylesheet",href=cssPath+"materialize.css")
    link(rel="stylesheet",href=cssPath+"animate.min.css")
    link(rel="stylesheet",href=cssPath+"style.css")
    block head
      title Instituto Acolher

  body
    block menu
      include menu.pug

    block header
      header

    main.container
      block main
        p Conteúdo da página

    block footer
      include footer

    block scripts
      script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
      script(src=jsPath+"wow.min.js")
      script.
        document.addEventListener('DOMContentLoaded', function() {
        var options = {};
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, options);
        new WOW().init();
        });


