include vars
include utils
doctype html

html(lang=lang)
  head
    block head
      //- Este bloco permite sobrescrever variáveis
      //- Ou incluir outras diretivas no head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(name="description",content=description)
    meta(property="og:description" content=description)
    meta(property="og:image:alt" content=title)
    meta(property="og:image" content=ogImage)
    meta(property="og:image:height" content=ogImageHeight)
    meta(property="og:image:width" content=ogImageWidth)
    meta(property="og:locale" content=lang)
    meta(property="og:title" content=title)
    meta(property="og:type" content="article")
    meta(property="og:url" content=ogUrl)
    link(rel="stylesheet",href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet",href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css")
    //- link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    //- link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    link(rel="stylesheet",href=cssPath+"fontawesome.min.css")
    link(rel="stylesheet",href=cssPath+"materialize.css")
    link(rel="stylesheet",href=cssPath+"animate.min.css")
    link(rel="stylesheet",href=cssPath+"style.css")
    title=title

  body
    block menu
      include menu.pug

    block header
      header

    main.container
      block main
        p Conteúdo da página

    block footer
      include footer

    block scripts
      script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
      script(src=jsPath+"wow.min.js")
      script.
        document.addEventListener('DOMContentLoaded', function() {
        var options = {};
        var sideNavElems = document.querySelectorAll('.sidenav');
        var sideNavInstances = M.Sidenav.init(sideNavElems, options);

        var fixedActionBtnElems = document.querySelectorAll('.fixed-action-btn');
        var fixedActionBtnInstaces = M.FloatingActionButton.init(fixedActionBtnElems, options);

        new WOW().init();
        });


