include vars
include membros

ul.collection
  //- Em ordem alfabética
  each membro in membros.sort(function(a, b){ return (a.slug > b.slug) ? 1 : -1; })
    if membro.ativo
      if membro.grupo == grupo
        - var avatar = membro.avatar
        unless membro.avatar
          if membro.masculino
            - avatar = "membro-masculino.jpg"
          else
            - avatar = "membro-feminino.jpg"
        li.collection-item.avatar
          a(href=membro.slug + ".html")
            img.circle(src=imgPath+avatar,alt=membro.nome)
          p.membro-nome
            a(href=membro.slug + ".html")= membro.nome
          if Array.isArray(membro.titulo)
            for titulo in membro.titulo
              p.orange-text.membro-titulo= titulo
          else
            p.orange-text.membro-titulo= membro.titulo
          if membro.CRP
            p.grey-text.membro-crp= "CRP: " + membro.CRP
