include vars
//- Menus exibidos em todas as telas
-
  var menus = [
      { "fa":"university",     "url":"index.html",                           "titulo":"Instituição" },
      { "fa":"diamond",        "url":"servicos.html",                        "titulo":"Serviços" },
      { "fa":"graduation-cap", "url":"atividades.html",                      "titulo":"Atividades" },
      { "fa":"file-text-o",    "url":"artigos.html",                         "titulo":"Artigos" },
      { "fa":"users",          "url":"associados.html",                      "titulo":"Associados" },
      // { "fa":"university",     "url":"instituicao.html",                     "titulo":"Instituição" },
      { "fa":"address-book-o", "url":"membros.html",                         "titulo":"Membros" }
    ];
if lang == "es"
  -
    var menus = [
        { "fa":"university",     "url":"index.html",                           "titulo":"Institución" },
        { "fa":"diamond",        "url":"servicos.html",                        "titulo":"Servicios" },
        { "fa":"graduation-cap", "url":"atividades.html",                      "titulo":"Actividades" },
        { "fa":"file-text-o",    "url":"artigos.html",                         "titulo":"Artículos" },
        { "fa":"users",          "url":"associados.html",                      "titulo":"Asociados" },
        //  { "fa":"university",     "url":"instituicao.html",                     "titulo":"Institución" },
        { "fa":"address-book-o", "url":"membros.html",                         "titulo":"Miembros" }
      ];

nav.cyan.darken-3.grad-nav(role="navigation")
  .container.nav-wrapper
    .brand-logo
      a(href="#")
        img.brand-logo(src=imgPath+"ita-logo-mono-2.svg")

    //- Menus para desktop
    ul.right.hide-on-med-and-down
      each menu in menus
        li
          a(href=menu.url)= menu.titulo
      if lang == "pt-BR"
        li
          a(href="es/")
            img.lang-icon(src=imgPath+"flag_es.svg")
      else if lang == "es"
        li
          a(href="../")
            img.lang-icon(src=imgPath+"flag_br.svg")

    //- Menus para celular e tablet
    ul#nav-mobile.sidenav
      li.mobile-profile
        img.responsive-img(src=imgPath+"ita-logo_1024x1024.svg")
      each menu in menus
        li
          a(href=menu.url)
            i.fa-menu-icon(class="fa fa-lg fa-"+menu.fa)
            span= menu.titulo
      if lang == "pt-BR"
        li
          a(href="es/")
            img.lang-icon(src=imgPath+"flag_es.svg")
      else if lang == "es"
        li
          a(href="../")
            img.lang-icon(src=imgPath+"flag_br.svg")

    a.sidenav-trigger(href="#",data-target="nav-mobile")
      i.material-icons menu

