//- Serviços prestados pelo ITA
include vars
include utils
-
  var servicos = [
    {
      "url":"acolhida.html",
      "imagem":"acolhida-01.jpg",
      "titulo": "Acolhida",
      "titulo_es": "Acolhida",
      "descricao": "Nessa sessão de escuta clínica é realizado encaminhamento para acompanhamento mais adequado a cada situação. Após as entrevistas preliminares, a pessoa é encaminhada para um terapeuta que passa a assumir a responsabilidade por todo o acompanhamento.",
      "descricao_es": "En esta sesión de escucha clínica se hace la derivación para el seguimiento más adecuado a cada situación. Después de las entrevistas preliminares, se deriva a la persona a un terapeuta que asume la responsabilidad de todo el seguimiento."
    },
    {
      "url":"psicoterapia-individual.html",
      "imagem":"psicoterapia-individual-01.jpg",
      "titulo": "Psicoterapia Individual",
      "titulo_es": "Psicoterapia Individual",
      "descricao": "O atendimento psicoterapêutico é o fio condutor e o objetivo principal das atividades do ITA. Trata-se de um atendimento realizado por um profissional do Instituto, que passa a assumir a responsabilidade por todo o processo psicoterapêutico. É um serviço que tem caráter tanto preventivo e integrativo quanto de intervenção e recuperação.",
      "descricao_es": "La atención psicoterapéutica es el principio rector y el principal objetivo de las actividades de ITA. Es un servicio prestado por un profesional del Instituto, quien asume la responsabilidad de todo el proceso psicoterapéutico. Es un servicio que tiene un carácter preventivo e integrador así como de intervención y recuperación."
    },
    {
      "url":"psicodiagnostico.html",
      "imagem":"psicodiagnostico-01.jpg",
      "titulo": "Psicodiagnóstico",
      "titulo_es": "Psicodiagnóstico",
      "descricao": "É uma avaliação mais apurada, indicada conforme necessidades apresentadas ou demanda espontânea.",
      "descricao_es": "Es una valoración más certera, indicada según las necesidades presentadas o demanda espontánea."
    },
    {
      "url":"integracao-psicoespiritual.html",
      "imagem":"integracao-psicoespiritual-01.jpg",
      "titulo": "Integração Psicoespiritual",
      "titulo_es": "Integración Psicoespiritual",
      "descricao": "Os aspectos espirituais são essenciais e imprescindíveis no processo terapêutico das pessoas consagradas (religiosas, padres e leigos) que buscam resgatar o sentido da sua vida. Nosso programa de integração psicoespiritual ajuda na avaliação da realização vocacional e na revisão do itinerário espiritual.",
      "descricao_es": "Inserir descrição aqui!"
    },
    {
      "url":"psicoterapia-grupal.html",
      "imagem":"psicoterapia-grupal-01.jpg",
      "titulo": "Psicoterapia Grupal",
      "titulo_es": "Psicoterapia Grupal",
      "descricao": "É uma opção bastante significativa para pessoas que vivem em comunidades e/ou trabalham com grupos (pastorais, paroquiais, educacionais e outros). A experiência de grupoterapia amplia a compreensão dos fenômenos da intersubjetividade dentro e fora do espaço terapêutico. O objetivo é que o investimento na compreensão dos aspectos tanto internos, como interpessoais e transsubjetivos promovam melhoria nos vínculos comunitários.",
      "descricao_es": "Es una opción muy significativa para las personas que viven en comunidades y / o trabajan con grupos (pastoral, parroquial, educativo y otros). La experiencia de la terapia de grupo amplía la comprensión de los fenómenos de intersubjetividad dentro y fuera del espacio terapéutico. El objetivo es que la inversión en la comprensión de los aspectos internos, interpersonales y trans-subjetivos promueva la mejora de los vínculos comunitarios."
    },
    {
      "url":"avaliacao-de-vocacionados.html",
      "imagem":"avaliacao-de-vocacionados-01.jpg",
      "titulo": "Avaliação do perfil dos Vocacionados",
      "titulo_es": "Evaluación del perfil vocacional",
      "descricao": "Realizamos um programa integrado de avaliação psicológica, saúde mental e maturidade espiritual para candidatos ao sacerdócio, vida religiosa, diaconato permanente e comunidades de vida.",
      "descricao_es": "Realizamos un programa integral de valoración psicológica, salud mental y madurez espiritual para candidatos al sacerdocio, vida religiosa, diaconado permanente y comunidades de vida."
    },
    {
      "url":"cursos-e-assessorias.html",
      "imagem":"cursos-e-assessorias-02.jpg",
      "titulo": "Cursos e Assessorias",
      "titulo_es": "Cursos y Asesoramiento",
      "descricao": "Organizamos vários cursos rápidos sobre temas referentes à psicologia da Vida Religiosa e Sacerdotal.",
      "descricao_es": "Organizamos varios cursos cortos sobre temas relacionados con la psicología de la vida religiosa y sacerdotal."
    },
    {
      "url":"supervisao-e-grupos-de-estudo-para-psicologos.html",
      "imagem":"supervisao-e-grupos-de-estudo-para-psicologos-01.jpg",
      "titulo": "Grupos de Estudo",
      "titulo_es": "Grupo de estudio",
      "descricao": "O grupo de estudos se reúne, mensalmente, com o objetivo de atualizar e compartilhar seus conhecimentos e aperfeiçoar sua prática clínica.",
      "descricao_es": "El grupo de estudio se reúne mensualmente con el objetivo de actualizar y compartir sus conocimientos y mejorar su práctica clínica."
    },
    {
      "url":"supervisao.html",
      "imagem":"supervisao-01.jpg",
      "titulo": "Supervisão",
      "titulo_es": "Supervisión",
      "descricao": "Orientação especializada para o aprimoramento do exercício profissional na psicoterapia dos religiosos.",
      "descricao_es": "Orientación especializada para la mejora de la práctica profesional en psicoterapia de personas religiosas."
    },
    {
      "url":"grupo-vivencial-para-formadores.html",
      "imagem":"grupo-vivencial-para-formadores-01.jpg",
      "titulo": "Grupo de reflexão para formadores",
      "titulo_es": "Grupo de reflexión para formadores",
      "descricao": "Auxiliamos os formadores com objetivo de refletir as tensões e angústias oriundas do oficio.",
      "descricao_es": "Ayudamos a los formadores a reflejar las tensiones y ansiedades que surgen en la oficina."
    }
  ];

include:markdown-it(html) ../textos/servicos.md

.row
  each servico in servicos
    if lang == "pt-BR"
      - var titulo = servico.titulo
      - var descricao = servico.descricao
    else if lang == "es"
      - var titulo = servico.titulo_es
      - var descricao = servico.descricao_es
    .col.s12.m6.xl6
      .card.light-grey.darken-1.wow.animate__animated.animate__bounceInUp
        .card-image.waves-effect.waves-block.waves-light
          if servico.imagem
            img.activator(src=imgPath+servico.imagem)
          else
            img.activator(src=imgPath+'servico-generico.jpg')
        .card-content.black-text
          span.activator.card-title.grey-text.text-darken-4= titulo
            i.material-icons.right more_vert
        .card-reveal
          span.card-title.grey-text.text-darken-4= titulo
            i.material-icons.right close
          p.servico-descricao= descricao
          +botaoAcessar(servico.url)
        .card-action
          +botaoAcessar(servico.url)

