//- Serviços prestados pelo ITA
include vars
include utils
-
  var servicos = [
    {
      "url":"acolhida.html",
      "imagem":"acolhida-01.jpg",
      "titulo": "Avaliação Neuropsicológica",
      "titulo_es": "Acolhida",
      "descricao": "É um processo clínico que busca investigar o funcionamento das funções cognitivas, emocionais e comportamentais de uma pessoa, como memória, atenção, linguagem, raciocínio, entre outras. Por meio de entrevistas, observações e aplicação de testes padronizados, o neuropsicólogo identifica padrões de desempenho, auxiliando no diagnóstico diferencial, no planejamento de intervenções e no acompanhamento terapêutico. Além disso, permite reconhecer tanto os pontos fortes quanto as fragilidades do indivíduo, oferecendo subsídios para que possam ser trabalhados em terapia ou reabilitação cognitiva e favorecer seu desenvolvimento global.",
      "descricao_es": "La neuropsicología es un proceso clínico que busca investigar el funcionamiento de las funciones cognitivas, emocionales y conductuales de una persona, como la memoria, la atención, el lenguaje, el razonamiento, entre otras. Mediante entrevistas, observaciones y la administración de pruebas estandarizadas, el neuropsicólogo identifica patrones de desempeño, lo que facilita el diagnóstico diferencial, la planificación de intervenciones y el seguimiento terapéutico. Además, permite reconocer las fortalezas y debilidades del individuo, brindándole apoyo para abordarlas mediante terapia o rehabilitación cognitiva y fomentando su desarrollo integral."
    },
    {
      "url":"psicoterapia-individual.html",
      "imagem":"psicoterapia-individual-01.jpg",
      "titulo": "Psicoterapia Individual",
      "titulo_es": "Psicoterapia Individual",
      "descricao": "O atendimento psicoterapêutico é o fio condutor e o objetivo principal das atividades do ITA. Trata-se de um atendimento realizado por um profissional do Instituto, que passa a assumir a responsabilidade por todo o processo psicoterapêutico. É um serviço que tem caráter tanto preventivo e integrativo quanto de intervenção e recuperação.",
      "descricao_es": "La atención psicoterapéutica es el principio rector y el principal objetivo de las actividades de ITA. Es un servicio prestado por un profesional del Instituto, quien asume la responsabilidad de todo el proceso psicoterapéutico. Es un servicio que tiene un carácter preventivo e integrador así como de intervención y recuperación."
    },
    {
      "url":"psicodiagnostico.html",
      "imagem":"psicodiagnostico-01.jpg",
      "titulo": "Psicodiagnóstico",
      "titulo_es": "Psicodiagnóstico",
      "descricao": "É uma avaliação mais apurada, indicada conforme necessidades apresentadas ou demanda espontânea.",
      "descricao_es": "Es una valoración más certera, indicada según las necesidades presentadas o demanda espontánea."
    },
    {
      "url":"integracao-psicoespiritual.html",
      "imagem":"integracao-psicoespiritual-01.jpg",
      "titulo": "Integração Espiritual",
      "titulo_es": "Integración Espiritual",
      "descricao": "Os aspectos espirituais são essenciais e imprescindíveis no processo terapêutico das pessoas (religiosas, padres e leigos) que buscam resgatar o sentido de suas vidas. Nosso programa de integração espiritual ajuda na avaliação da realização vocacional e na revisão do itinerário espiritual.",
      "descricao_es": "Inserir descrição aqui!"
    },
    {
      "url":"psicoterapia-grupal.html",
      "imagem":"psicoterapia-grupal-01.jpg",
      "titulo": "Psicoterapia Grupal",
      "titulo_es": "Psicoterapia Grupal",
      "descricao": "É uma opção bastante significativa para pessoas que vivem em comunidades e/ou trabalham com grupos (pastorais, paroquiais, educacionais e outros). A experiência de grupoterapia amplia a compreensão dos fenômenos da intersubjetividade dentro e fora do espaço terapêutico. O objetivo é que o investimento na compreensão dos aspectos tanto internos, como interpessoais e transsubjetivos promovam melhoria nos vínculos comunitários.",
      "descricao_es": "Es una opción muy significativa para las personas que viven en comunidades y / o trabajan con grupos (pastoral, parroquial, educativo y otros). La experiencia de la terapia de grupo amplía la comprensión de los fenómenos de intersubjetividad dentro y fuera del espacio terapéutico. El objetivo es que la inversión en la comprensión de los aspectos internos, interpersonales y trans-subjetivos promueva la mejora de los vínculos comunitarios."
    },
    {
      "url":"avaliacao-de-vocacionados.html",
      "imagem":"avaliacao-de-vocacionados-01.jpg",
      "titulo": "Avaliação do perfil dos Vocacionados",
      "titulo_es": "Evaluación del perfil vocacional",
      "descricao": "Realizamos um programa integrado de avaliação psicológica, saúde mental e maturidade espiritual para candidatos ao sacerdócio, vida religiosa, diaconato permanente e comunidades de vida.",
      "descricao_es": "Realizamos un programa integral de valoración psicológica, salud mental y madurez espiritual para candidatos al sacerdocio, vida religiosa, diaconado permanente y comunidades de vida."
    },
    {
      "url":"cursos-e-assessorias.html",
      "imagem":"cursos-e-assessorias-02.jpg",
      "titulo": "Cursos e Assessorias",
      "titulo_es": "Cursos y Asesoramiento",
      "descricao": "Organizamos vários cursos rápidos sobre temas referentes à psicologia da Vida Religiosa e Sacerdotal.",
      "descricao_es": "Organizamos varios cursos cortos sobre temas relacionados con la psicología de la vida religiosa y sacerdotal."
    },
    {
      "url":"supervisao.html",
      "imagem":"supervisao-01.jpg",
      "titulo": "Supervisão para Psicólogos",
      "titulo_es": "Supervisión para Psicólogos",
      "descricao": "Orientação especializada para o aprimoramento do exercício profissional na psicoterapia dos religiosos.",
      "descricao_es": "Orientación especializada para la mejora de la práctica profesional en psicoterapia de personas religiosas."
    },
    {
      "url":"grupo-vivencial-para-formadores.html",
      "imagem":"grupo-vivencial-para-formadores-01.jpg",
      "titulo": "Grupos de Estudos para Formadores e Psicólogos",
      "titulo_es": "Grupo de reflexión para formadores",
      "descricao": "Auxiliamos os formadores com objetivo de refletir as tensões e angústias oriundas do oficio.",
      "descricao_es": "Ayudamos a los formadores a reflejar las tensiones y ansiedades que surgen en la oficina."
    }
  ];

include:markdown-it(html) ../textos/servicos.md

.row
  each servico in servicos
    if lang == "pt-BR"
      - var titulo = servico.titulo
      - var descricao = servico.descricao
    else if lang == "es"
      - var titulo = servico.titulo_es
      - var descricao = servico.descricao_es
    .col.s12.m6.xl6
      .card.light-grey.darken-1.wow.animate__animated.animate__bounceInUp
        .card-image.waves-effect.waves-block.waves-light
          if servico.imagem
            img.activator(src=imgPath+servico.imagem)
          else
            img.activator(src=imgPath+'servico-generico.jpg')
        .card-content.black-text
          span.activator.card-title.grey-text.text-darken-4= titulo
            i.material-icons.right more_vert
        .card-reveal
          span.card-title.grey-text.text-darken-4= titulo
            i.material-icons.right close
          p.servico-descricao= descricao
          +botaoAcessar(servico.url)
        .card-action
          +botaoAcessar(servico.url)

