extends componentes/layout.pug
block main
  //- PARA USAR NO CAMPO ASSESSOR_SLUGS
  //- "eliana-massih"
  //- "suzana-carvalho"
  //- "paulo-sergio-frederico"
  //- "flavia-moreira-ribeiro"
  //- "eduardo-augusto-galindo-de-lima"
  //- "enio-brito-pinto"
  //- "lillian-maria-penteado-de-arruda-zamith"
  //- "joao-edenio-reis-valle"
  //- "francisco-glenio-de-almeida"
  //- "lourdes-degrandis"
  //- "maria-da-conceicao-coelho-e-silva"
  //- "maria-de-fatima-naves"
  //- "maria-de-fatima-rolim-rosa"
  //- "maria-ondina-da-silva-peruzzo"
  //- "maria-silva-mourao"
  //- "maruzania-soares-dias"
  //- "rosa-eliza-da-silva"
  //- "tereza-lair-martins"
  //- "wellington-heleno-da-silva"
  //- "wojciech-mittelstaedt-adalberto"
  include componentes/membros
  -
    var eventos = [
      {
        "ativo": true,
        "dia": "2022-02-25",
        "titulo": "Teologia e os LGBT+",
        "convidados": [ { "nome": "Pe. Luís Corrêa Lima"} ],
        "assessor_slugs": ["wellington-heleno-da-silva"],
        "cartaz": "img/bp-2022-02-25.png",
        "descricao": "Longe de ser uma questão meramente abstrata, o tema da teologia e os LGBT+ se lança a uma realidade que diz respeito à vida concreta de muitas pessoas que nem sempre são acolhidas pela comunidade cristã.",
        "online": true
      },
      {
        "ativo": true,
        "dia": "2022-04-25",
        "titulo": "Massoterapia",
        "convidados": [ { "nome": "Ir. Jyothi Joseph Satyanapalli, do PIME" } ],
        "assessor_slugs": ["wojciech-mittelstaedt-adalberto"],
        "cartaz": "img/bp-2022-03-25.png",
        "descricao": "A massoterapia nos ajuda a viver com mais qualidade tanto nos aspectos físicos quanto mentais.",
        "online": true
      },
      {
        "ativo": true,
        "dia": "2022-04-08",
        "titulo": "Guerra na Ucrânia: Aspectos Psicológicos da Agressividade e do Autoritarismo",
        "assessor_slugs": ["woyciech-mittelstaedt-adalberto"],
        "cartaz": "img/bp-2022-04-08.png",
        "descricao": "Os aspectos econômicos, culturais, sociais e morais de uma nação que podem ter relação com os aspectos individuais da psique.",
        "online": true
      },
      {
        "dia": "2022-03-25",
      },
      {
        "dia": "2022-04-29",
      },
      {
        "dia": "2022-05-27",
      },
      {
        "dia": "2022-06-24",
      },
      {
        "dia": "2022-07-22",
      },
      {
        "dia": "2022-08-26",
      },
      {
        "dia": "2022-09-30",
      },
      {
        "dia": "2022-10-28",
      },
      {
        "dia": "2022-11-25",
      }
    ];
    var descricaoPadrao = "Insira a descrição do evento aqui"
    var diasDaSemana = [ "Domingo", "Segunda-feira", "Terça-feira", "Quarta-feira", "Quinta-feira", "Sexta-feira", "Sábado" ]
    var nomesMeses = [ "Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro" ]
    var nomeDoMes = ""
    var horaInicioPadrao = "09"
    var minInicioPadrao = "00"
    var horaFimPadrao = "12"
    var minFimPadrao = "00"
    var descricaoPadrao = "Insira a descrição do curso aqui"
    var localPadrao = "Sede do Instituto Acolher - ITA"

  h1 Bate papo
  for evento in eventos.sort(function(a, b){ return (a.dia > b.dia) ? 1 : -1; })
    //- Separa por meses
    - var d = new Date(evento.dia)
    - var ontem = new Date()
    - ontem.setDate(ontem.getDate()-1)
    - d.setUTCHours(3) //- compensar fuso horário
    - var diaDaSemana = diasDaSemana[d.getDay()]
    - var hh1 = ("0" + (evento.horaInicio || horaInicioPadrao)).slice(-2)
    - var mm1 = ("0" + (evento.minInicio || minInicioPadrao)).slice(-2)
    - var hh2 = ("0" + (evento.horaFim || horaFimPadrao)).slice(-2)
    - var mm2 = ("0" + (evento.minFim || minFimPadrao)).slice(-2)
    - var YYYYMMDD = d.getUTCFullYear() + ("0" + (d.getMonth()+1)).slice(-2) + ("0" + d.getDate()).slice(-2)
    - var o = "https://www.google.com/calendar/render?action=TEMPLATE"
    - o = o + "&text=" + evento.titulo
    - o = o + "&details=" + ( evento.descricao || descricaoPadrao )
    - o = o + "&location=Sede do ITA"
    - o = o + "&dates=" + YYYYMMDD + "T" + hh1 + mm1 + "00/" + YYYYMMDD + "T" + hh2 + mm2 + "00"
    - var googleUrl = o

    unless evento.ativo
      - continue

    if d < ontem
      - continue

    if nomesMeses[d.getMonth()] != nomeDoMes
      - nomeDoMes = nomesMeses[d.getMonth()]
      h2.mt6= nomeDoMes

    .row
      .col.s12.l4
        p.tc
          img(src=evento.cartaz || "https://via.placeholder.com/1200")
      .col.s12.l8
        h3.mt4= evento.titulo

        p.mb0.fw3.teal-text Descrição do evento
        p.mt0.flow-text!= evento.descricao || descricaoPadrao

        p.mb0.fw3.teal-text Data e horário
        p.mt0
          strong= d.toLocaleString("pt-BR").substring(0,5)  + " (" + diaDaSemana + ") das " + hh1 + "h" + mm1 + " às " + hh2 + "h" + mm2

        if evento.convidados
          if evento.convidados.length == 1
            p.mb0.fw3.teal-text Convidado
          else
            p.mb0.fw3.teal-text Convidados
          p.mt0
          each convidado in evento.convidados
            p.modulo-assessor
              i.grey-text.fa.fa-user-circle-o
              strong= convidado.nome
              if convidado.CRP
                br
                small.grey-text.membro-crp
                  |  CRP: 
                  = convidado.CRP

        if evento.assessor_slugs
          if evento.assessor_slugs.length == 1
            p.mb0.fw3.teal-text Assessor
          else
            p.mb0.fw3.teal-text Assessores
          p.mt0
          each membro in membros
            each assessor_slug in evento.assessor_slugs
              if membro.slug == assessor_slug
                p.modulo-assessor
                  i.grey-text.fa.fa-graduation-cap
                  a(href=membro.slug+".html",title="Membro do ITA")= membro.nome
                  if membro.CRP
                    br
                    small.grey-text.membro-crp
                      |  CRP: 
                      = membro.CRP
        if evento.online
          br
          strong.red-text Evento Online

  h1 Histórico
  for evento in eventos.sort(function(a, b){ return (a.dia < b.dia) ? 1 : -1; })
    - var d = new Date(evento.dia)
    - var ontem = new Date()
    - ontem.setDate(ontem.getDate()-1)
    - d.setUTCHours(3) //- compensar fuso horário
    - var diaDaSemana = diasDaSemana[d.getDay()]
    - var hh1 = ("0" + (evento.horaInicio || horaInicioPadrao)).slice(-2)
    - var mm1 = ("0" + (evento.minInicio || minInicioPadrao)).slice(-2)
    - var hh2 = ("0" + (evento.horaFim || horaFimPadrao)).slice(-2)
    - var mm2 = ("0" + (evento.minFim || minFimPadrao)).slice(-2)
    - var YYYYMMDD = d.getUTCFullYear() + ("0" + (d.getMonth()+1)).slice(-2) + ("0" + d.getDate()).slice(-2)

    unless evento.ativo
      - continue

    if d > ontem
      - continue

    if nomesMeses[d.getMonth()] != nomeDoMes
      - nomeDoMes = nomesMeses[d.getMonth()]
      h2.mt6= nomeDoMes + " de " + d.getUTCFullYear()

    .row
      .col.s12.l4
        p.tc
          img(src=evento.cartaz || "https://via.placeholder.com/1200")
      .col.s12.l8
        h3.mt4= evento.titulo

        p.mb0.fw3.teal-text Descrição do evento
        p.mt0.flow-text!= evento.descricao || descricaoPadrao

        p.mb0.fw3.teal-text Data
        p.mt0
          strong= d.toLocaleString("pt-BR").substring(0,5)  + " (" + diaDaSemana + ")"
